@model PagedList.IPagedList<Mooshak2.Models.UserViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<p>
	@Html.ActionLink("Create User", "CreateUser", null, new { @class = "btn btn-info" })
</p>
<br />

@using (Html.BeginForm("Users", "Admin", FormMethod.Get))
{
	<div class="form-group">
		 @Html.TextBox("searchStringUserNameOrEmail", ViewBag.CurrentFilter as string)

		<input type="submit" value="Search" />
	</div>
}
<br />

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Username</th>
				<th>Email</th>
				<th>Course</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.UserName)</td>
				<td>@Html.DisplayFor(modelItem => item.Email)</td>
				<td>@Html.DisplayFor(modelItem => item.CourseName)</td>
				<td>@Html.DisplayFor(modelItem => item.LockoutEndDateUtc)</td>
				<td>
					@Html.ActionLink("Edit", "EditUser", new { UserName = item.UserName }) |
					@if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
					{
						@Html.ActionLink("Delete", "DeleteUser", new { UserName = item.UserName },
						new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
					}
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>

<br />
	Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

	@Html.PagedListPager(Model,
	page => Url.Action("Admin/Users",
	new
	{
		page,
		searchStringUserNameOrEmail = ViewBag.searchStringUserNameOrEmail,
		currentFilter = ViewBag.CurrentFilter
	}))
<hr />
